/* body {
  display: block;
  margin: 8px;
}

header {
  .TopLine {
    width: 1440px;
    height: 72px;
    position: relative;
    display: block;
    .TopLineBg {
      width: 1440px;
      height: 72px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: white;
      border-bottom: 1px #e7e9fc solid;
    }
    .Logo {
      width: 115px;
      height: 24px;
      left: 156px;
      top: 24px;
      position: absolute;
      justify-content: flex-start;
      align-items: center;
      display: inline-flex;

      .Web {
        width: 44px;
        color: #4d5ae5;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.54px;
        word-wrap: break-word;
      }

      .Studio {
        width: 73px;
        color: #2e2f42;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.54px;
        word-wrap: break-word;
      }
    }

    .MenuNav {
      width: 261px;
      height: 24px;
      left: 347px;
      top: 24px;
      position: absolute;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;
      display: inline-flex;

      .Studio,
      .Portfolio,
      .Contacts {
        color: #2e2f42;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }

    .ContactInfo {
      .PhoneNumber {
        left: 1133px;
        top: 24px;
        position: absolute;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
      .Email {
        left: 940px;
        top: 24px;
        position: absolute;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }
  }
  .HeroImage {
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    position: absolute;

    .DarkBg {
      width: 1440px;
      height: 600px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #2e2f42;
    }
    .Button {
      width: 169px;
      height: 56px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 16px;
      padding-bottom: 16px;
      left: 636px;
      top: 356px;
      position: absolute;
      background: #4d5ae5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      display: inline-flex;
      .OrderService {
        color: white;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        word-wrap: break-word;
      }
    }
    h1 {
      width: 496px;
      left: 472px;
      top: 188px;
      position: absolute;
      text-align: center;
      color: white;
      font-size: 56px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 1.12px;
      word-wrap: break-word;
      display: block;
    }
  }
}

main {
  width: 1440px;
  height: 2592px;
  position: relative;
  background: white;

  .Section1 {
    .Feature1 {
      width: 264px;
      height: 104px;
      left: 0px;
      top: 0px;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      display: inline-flex;
      h2 {
        width: 264px;
        color: #2e2f42;
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        word-wrap: break-word;
      }
      p {
        width: 264px;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }
    .Feature2 {
      width: 264px;
      height: 104px;
      left: 288px;
      top: 0px;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      display: inline-flex;
      h2 {
        width: 264px;
        color: #2e2f42;
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        word-wrap: break-word;
      }
      p {
        width: 264px;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }
    .Feature3 {
      width: 264px;
      height: 104px;
      left: 576px;
      top: 0px;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      display: inline-flex;
      h2 {
        width: 264px;
        color: #2e2f42;
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        word-wrap: break-word;
      }
      p {
        width: 264px;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }
    .Feature4 {
      width: 264px;
      height: 104px;
      left: 864px;
      top: 0px;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      display: inline-flex;
      h2 {
        width: 264px;
        color: #2e2f42;
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        word-wrap: break-word;
      }
      p {
        width: 264px;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }
  }
  .Section2 {
    .WhatAreWeDoing {
      width: 1128px;
      height: 412px;
      left: 156px;
      top: 1016px;
      position: absolute;
      h1 {
        left: 403px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: #2e2f42;
        font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 40px;
        letter-spacing: 0.72px;
        word-wrap: break-word;
      }
    }
    .Img1 {
      width: 360px;
      height: 300px;
      left: 0px;
      top: 112px;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: inline-flex;
    }
    .Img2 {
      width: 360px;
      height: 300px;
      left: 384px;
      top: 112px;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: inline-flex;
    }
    .Img3 {
      width: 360px;
      height: 300px;
      left: 768px;
      top: 112px;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: inline-flex;
    }
  }
  .Section3 {
    width: 1440px;
    height: 732px;
    left: 0px;
    top: 1548px;
    position: absolute;
    .OurTeam {
      h1 {
        color: Auto;
      }
    }
    .TeamCard1 {
      width: 264px;
      height: 380px;
      padding-bottom: 32px;
      left: 156px;
      top: 232px;
      position: absolute;
      background: white;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      display: inline-flex;
      .Img {
        overflow-clip-margin: content-box;
        overflow: clip;
      }
    }
    .CardContent {
      height: 56px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      display: flex;
      .MarkGuerrero {
        text-align: center;
        color: #2e2f42;
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        word-wrap: break-word;
      }
      .ProductDesigner {
        text-align: center;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }
  }
  .TeamCard2 {
    width: 264px;
    height: 380px;
    padding-bottom: 32px;
    left: 444px;
    top: 232px;
    position: absolute;
    background: white;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    display: inline-flex;
    .Img {
      overflow-clip-margin: content-box;
      overflow: clip;
    }
    .CardContent {
      height: 56px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      display: flex;
      height: 56px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      display: flex;
      .TomFord {
        text-align: center;
        color: #2e2f42;
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        word-wrap: break-word;
      }
      .FrontendDeveloper {
        text-align: center;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }
  }
  .TeamCard3 {
    width: 264px;
    height: 380px;
    padding-bottom: 32px;
    left: 732px;
    top: 232px;
    position: absolute;
    background: white;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    display: inline-flex;
    .Img {
      overflow-clip-margin: content-box;
      overflow: clip;
    }
    .CardContent {
      height: 56px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      display: flex;
    }
    .CamilaGarcia {
      text-align: center;
      color: #2e2f42;
      font-size: 20px;
      font-family: Roboto;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.4px;
      word-wrap: break-word;
    }
    .Marketing {
      text-align: center;
      color: #434455;
      font-size: 16px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.32px;
      word-wrap: break-word;
    }
  }

  .TeamCard4 {
    width: 264px;
    height: 380px;
    padding-bottom: 32px;
    left: 1020px;
    top: 232px;
    position: absolute;
    background: white;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    display: inline-flex;
    .Img {
      width: 264px;
      height: 260px;
    }
  }
  .CardContent {
    height: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex;
    .DanielWilson {
      text-align: center;
      color: #2e2f42;
      font-size: 20px;
      font-family: Roboto;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.4px;
      word-wrap: break-word;
    }
    .UiDesigner {
      text-align: center;
      color: #434455;
      font-size: 16px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.32px;
      word-wrap: break-word;
    }
  }
}

footer {
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  position: absolute;
  .DarkBg {
    width: 1440px;
    height: 312px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #2e2f42;
  }

  .Text {
    width: 264px;
    height: 112px;
    left: 156px;
    top: 100px;
    position: absolute;
    .IncreaseTheFlowMsg {
      width: 264px;
      left: 0px;
      top: 40px;
      position: absolute;
      color: #f4f4fd;
      font-size: 16px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.32px;
      word-wrap: break-word;
    }
    .Logo {
      width: 115px;
      height: 24px;
      left: 156px;
      /* bottom: 24px; */
      /* position: absolute;
      justify-content: flex-start;
      align-items: center;
      display: inline-flex;

      .Web {
        width: 44px;
        color: #4d5ae5;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.54px;
        word-wrap: break-word;
      }

      .Studio {
        width: 73px;
        color: #2e2f42;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.54px;
        word-wrap: break-word;
      }
    }
  }
} */ */
