body {
  display: block;
  margin: 8px;
}

header {
  .TopLine {
    width: 1440px;
    height: 72px;
    position: relative;
    display: block;
    .TopLineBg {
      width: 1440px;
      height: 72px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: white;
      border-bottom: 1px #e7e9fc solid;
    }
    .Logo {
      width: 115px;
      height: 24px;
      left: 156px;
      top: 24px;
      position: absolute;
      justify-content: flex-start;
      align-items: center;
      display: inline-flex;

      .Web {
        width: 44px;
        color: #4d5ae5;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.54px;
        word-wrap: break-word;
      }

      .Studio {
        width: 73px;
        color: #2e2f42;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.54px;
        word-wrap: break-word;
      }
    }

    .MenuNav {
      width: 261px;
      height: 24px;
      left: 347px;
      top: 24px;
      position: absolute;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;
      display: inline-flex;

      .Studio,
      .Portfolio,
      .Contacts {
        color: #2e2f42;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }

    .ContactInfo {
      .PhoneNumber {
        left: 1133px;
        top: 24px;
        position: absolute;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
      .Email {
        left: 940px;
        top: 24px;
        position: absolute;
        color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
      }
    }
  }
  .HeroImage {
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    position: absolute;

    .DarkBg {
      width: 1440px;
      height: 600px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #2e2f42;
    }
    .Button {
      width: 169px;
      height: 56px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 16px;
      padding-bottom: 16px;
      left: 636px;
      top: 356px;
      position: absolute;
      background: #4d5ae5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      display: inline-flex;
      .OrderService {
        color: white;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        word-wrap: break-word;
      }
    }
    h1 {
      width: 496px;
      left: 472px;
      top: 188px;
      position: absolute;
      text-align: center;
      color: white;
      font-size: 56px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 1.12px;
      word-wrap: break-word;
    }
  }
}

main {
  .Section1 {
    .Feature1 {
      h2 {
        color: Auto;
      }
      p {
        color: Auto;
      }
    }
    .Feature2 {
      h2 {
        color: Auto;
      }
      p {
        color: Auto;
      }
    }
    .Feature3 {
      h2 {
        color: Auto;
      }
      p {
        color: Auto;
      }
    }
    .Feature4 {
      h2 {
        color: Auto;
      }
      p {
        color: Auto;
      }
    }
  }
  .Section2 {
    .WhatAreWeDoing {
      h1 {
        color: Auto;
      }
    }
    .Img1 {
      color: Auto;
    }
    .Img2 {
      color: Auto;
    }
    .Img3 {
      color: Auto;
    }
  }
  .Section3 {
    .OurTeam {
      h1 {
        color: Auto;
      }
    }
    .TeamCard1 {
      .Img {
        color: Auto;
      }
      .CardContent {
        .MarkGuerrero {
          color: Auto;
        }
        .ProductDesigner {
          color: Auto;
        }
      }
    }
    .TeamCard2 {
      .Img {
        color: Auto;
      }
      .CardContent {
        .TomFord {
          color: Auto;
        }
        .FrontendDeveloper {
          color: Auto;
        }
      }
    }
    .TeamCard3 {
      .Img {
        color: Auto;
      }
      .CardContent {
        .CamilaGarcia {
          color: Auto;
        }
        .Marketing {
          color: Auto;
        }
      }
    }
    .TeamCard4 {
      .Img {
        color: Auto;
      }
      .CardContent {
        .DanielWilson {
          color: Auto;
        }
        .UiDesigner {
          color: Auto;
        }
      }
    }
  }
}

footer {
  .DarkBg {
    color: Auto;
  }
  .Text {
    .IncreaseTheFlowMsg {
      color: Auto;
    }
    .Logo {
      width: 115px;
      height: 24px;
      left: 156px;
      /* bottom: 24px; */
      position: absolute;
      justify-content: flex-start;
      align-items: center;
      display: inline-flex;

      .Web {
        width: 44px;
        color: #4d5ae5;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.54px;
        word-wrap: break-word;
      }

      .Studio {
        width: 73px;
        color: #2e2f42;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.54px;
        word-wrap: break-word;
      }
    }
  }
}
